@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Save The World<br />
    Aalborg, Sofiendalsvej 60<br />
    <abbr title="Phone">P:</abbr>
    +45605870
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:1074254@ucn.dk">1074254@ucn.dk</a><br />
</address>