@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron text-center">
    <h1><b>DISASTERS</b></h1>
    <blockquote class="blockquote text-center">
        <p class="mb-0">Did you know that in 2018, there were 315 natural disaster events recorded with 11,804 deaths and over 68 milion people affected? There was spent over 130 bilion US $ by the governments for those disasters.</p>
        <footer class="blockquote-footer">With that money you could buy 200 million iPads for every U.S. school and college student </footer>
    </blockquote>
</div>

<div class="row">
    <div class="col-md-4 text-center">
        <h2><b>Earthquakes</b></h2>
        <p>
            Earthquakes are one of the most dangerous disasters ever faced by the human. Earth’s surface holds number of plates called tectonic. Such plates have rough edges and they always keep moving and slide over each other.
        </p>
        <p><a class="btn btn-default" href="https://www.google.com/search?q=earthquake&oq=earth&aqs=chrome.1.69i57j0l2j69i64l3.1843j0j7&sourceid=chrome&ie=UTF-8">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4 text-center">
        <h2><b>Hurricanes</b></h2>
        <p>Hurricanes are powerful rapidly rotating storm system mainly hit over tropical seas. Hurricanes are also called as typhoon, cyclone collectively known as tropical cyclones. Hurricanes will spread across 600 miles rotate inward and upward at 70 to 200 miles per hour speed.</p>
        <p><a class="btn btn-default" href="https://www.nhc.noaa.gov/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4 text-center">
        <h2><b>Tsunamis</b></h2>
        <p>Tsunamis or tidal waves formed due to the Earthquakes, volcanic eruption or other form of disturbance in oceans. Tsunami tides have heights of hundreds of meters and large wavelength. Such tidal waves will travel thousands of miles and mainly hits coastal areas. Tsunamis have greater speed at deep water in ocean.</p>
        <p><a class="btn btn-default" href="https://oceanservice.noaa.gov/facts/tsunami.html">Learn more &raquo;</a></p>
    </div>
</div>