@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    If any problems with donatation, please contact the support.<br />
    Aalborg, Denmark - Sofiendalsvej 60<br />
    <abbr title="Phone">P:</abbr>
    60509933
</address>
