<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IUser" />
                <binding name="BasicHttpBinding_IProductService" />
                <binding name="BasicHttpBinding_IBankAccountService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/SaveWorldService/UserService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUser"
                contract="UserService.IUser" name="BasicHttpBinding_IUser" />
            <endpoint address="http://localhost:8080/SaveWorldService/ProductService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProductService"
                contract="ProductService.IProductService" name="BasicHttpBinding_IProductService" />
            <endpoint address="http://localhost:8080/SaveWorldService/BankAccountService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBankAccountService"
                contract="BankAccountService.IBankAccountService" name="BasicHttpBinding_IBankAccountService" />
        </client>
    </system.serviceModel>
</configuration>