<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SaveWorldEntities" connectionString="metadata=res://*/SaveWorldModel.csdl|res://*/SaveWorldModel.ssdl|res://*/SaveWorldModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=kraka.ucn.dk;initial catalog=dmaj0918_1074278;persist security info=True;user id=dmaj0918_1074278;password=Password1!;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IBankAccountService" />
                <binding name="BasicHttpBinding_IProductService" />
                <binding name="BasicHttpBinding_IDisasterService" />
                <binding name="BasicHttpBinding_IOrderService" />
                <binding name="BasicHttpBinding_IUser" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/SaveWorldService/BankAccountService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBankAccountService"
                contract="BankAccountService.IBankAccountService" name="BasicHttpBinding_IBankAccountService" />
            <endpoint address="http://localhost:8080/SaveWorldService/ProductService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProductService"
                contract="ProductService.IProductService" name="BasicHttpBinding_IProductService" />
            <endpoint address="http://localhost:8080/SaveWorldService/DisasterService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDisasterService"
                contract="DisasterReferences.IDisasterService" name="BasicHttpBinding_IDisasterService" />
            <endpoint address="http://localhost:8080/SaveWorldService/OrderService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOrderService"
                contract="OrderServiceReference.IOrderService" name="BasicHttpBinding_IOrderService" />
            <endpoint address="http://localhost:8080/SaveWorldService/UserService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUser"
                contract="UserService.IUser" name="BasicHttpBinding_IUser" />
        </client>
    </system.serviceModel>
</configuration>
