@{
    ViewBag.Title = "What is it all about?";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Save The World is a unique project, which was built by university students. The main idea behind this is to give attention to the inevitable climate changes happening all around the globe. We would like to promote how natural disasters affecting people aroud the World. </p>


