<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework"
          type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
          requirePermission="false"/>
    </configSections>
  <connectionStrings>
    <add name="SaveTheWorldEntities"
      connectionString="metadata=res://*/SaveTheWorldModel.csdl|res://*/SaveTheWorldModel.ssdl|res://*/SaveTheWorldModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=kraka.ucn.dk;initial catalog=dmaj0918_1074278;persist security info=True;user id=dmaj0918_1074278;password=Password1!;multipleactiveresultsets=True;application name=EntityFramework&quot;"
      providerName="System.Data.EntityClient"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IProductService"/>
                <binding name="BasicHttpBinding_IUserService"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/SaveTheWorldService/ProductService/" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IProductService" contract="ServiceReference.IProductService" name="BasicHttpBinding_IProductService"/>
            <endpoint address="http://localhost:8080/SaveTheWorldService/UserService/" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IUserService" contract="UserReference.IUserService" name="BasicHttpBinding_IUserService"/>
        </client>
    </system.serviceModel>
    <entityFramework>
        <providers>
            <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
        </providers>
    </entityFramework>
 
</configuration>