
@{
    ViewBag.Title = "Welcome to our online shop";
}

<br>
    <h2 class="text-center page-header"><b>@ViewBag.Title</b></h2></br>



<div class="card text-white bg-secondary mb-3" style="display: inline-block; margin-right: 25px;">
    <div class="card-body" style="border-right: 1px solid lightgrey">
        <h4 class="card-title text-center"><b>T-shirt</b></h4>
        <br><p class="card-text" style="margin: 10px">Blue tshirt with logo "Save The World.</p>
        <div class="card-header text-center"><b>25$</b></div></br>
        <div class="form-group">
            <select class="custom-select center-block">
                <option selected="">Select color</option>
                <option value="1">Blue</option>
                <option value="2">Yellow</option>
                <option value="3">Black</option>
                <option value="3">Green</option>
            </select>
        </div>
        <div class="form-group">
            <select class="custom-select center-block">
                <option selected="">Select size</option>
                <option value="1">S</option>
                <option value="2">M</option>
                <option value="3">L</option>
                <option value="3">XL</option>
            </select>
        </div>
        <button type="button" class="btn btn-secondary center-block">Buy</button>
    </div>
</div>

<div class="card text-white bg-secondary mb-3" style="display: inline-block; margin-right: 25px;">
    <div class="card-body" style="border-right: 1px solid lightgrey">
        <h4 class="card-title text-center"><b>Umbrella</b></h4>
        <br><p class="card-text" style="margin: 10px">Green umbrella for rainy days.</p>
        <div class="card-header text-center"><b>30$</b></div></br>
        <div class="form-group">
            <select class="custom-select center-block">
                <option selected="">Select color</option>
                <option value="1">Blue</option>
                <option value="2">Yellow</option>
                <option value="3">Black</option>
                <option value="3">Green</option>
            </select>
        </div>
        <div class="form-group">
            <select class="custom-select center-block">
                <option selected="">Select size</option>
                <option value="1">S</option>
                <option value="2">M</option>
                <option value="3">L</option>
                <option value="3">XL</option>
            </select>
        </div>
        <button type="button" class="btn btn-secondary center-block">Buy</button>
    </div>
</div>

<div class="card text-white bg-secondary mb-3" style="display: inline-block; margin-right: 25px;">
    <div class="card-body" style="border-right: 1px solid lightgrey">
        <h4 class="card-title text-center"><b>Shirt</b></h4>
        <br><p class="card-text" style="margin: 10px">Yellow shirt for some occasions.</p>
        <div class="card-header text-center"><b>10$</b></div></br>
        <div class="form-group">
            <select class="custom-select center-block">
                <option selected="">Select color</option>
                <option value="1">Blue</option>
                <option value="2">Yellow</option>
                <option value="3">Black</option>
                <option value="3">Green</option>
            </select>
        </div>
        <div class="form-group">
            <select class="custom-select center-block">
                <option selected="">Select size</option>
                <option value="1">S</option>
                <option value="2">M</option>
                <option value="3">L</option>
                <option value="3">XL</option>
            </select>
        </div>
        <button type="button" class="btn btn-secondary center-block">Buy</button>
    </div>
</div>

<div class="card text-white bg-secondary mb-3" style="display: inline-block; margin-right: 25px;">
    <div class="card-body" style="border-right: 1px solid lightgrey">
        <h4 class="card-title text-center"><b>Cap</b></h4>
        <br><p class="card-text" style="margin: 10px">For drinking coffee or tea. Whatever.</p>
        <div class="card-header text-center"><b>15$</b></div></br>
        <div class="form-group">
            <select class="custom-select center-block">
                <option selected="">Select color</option>
                <option value="1">Blue</option>
                <option value="2">Yellow</option>
                <option value="3">Black</option>
                <option value="3">Green</option>
            </select>
        </div>
        <div class="form-group">
            <select class="custom-select center-block">
                <option selected="">Select size</option>
                <option value="1">S</option>
                <option value="2">M</option>
                <option value="3">L</option>
                <option value="3">XL</option>
            </select>
        </div>
        <button type="button" class="btn btn-secondary center-block">Buy</button>
    </div>
</div>

